@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  background: radial-gradient(
    ellipse 200% 100% at bottom left,
    #cdcdcd,
    rgba(234, 238, 254, 0.66)
  );
}

.custom-btn {
  background-color: white;
  color: black;
}

.custom-btn:hover {
  color: white;
  border: white 1.5px solid;
}
